*{
	margin: 0;
	padding: 0;
}



.container-fluid{
	width:100%;
	height;100%;
	margin: 20px;
	
}
.koko{
	padding-top: 15px;
}


.footerc h2{
    text-align: left;
}
.footerc{
    background-color: #212529;
    padding-bottom:30px;
    font-family: 'Roboto', sans-serif;
    
}
.footer{
    width: 80%;
    height:30vh;
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    padding-top: 4rem;
}
.footerh{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    
}
.footerh h2{
    margin-bottom: 20px;
    
}
.footerh a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
.footerh a:hover{
    color: red;
    transition: 0.3s ease-out;
}
.form h2{
    margin-bottom: 20px;
    
} 
@media screen and (max-width: 1200px) {
  .form {
    display: none;
  }
}
	#email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 1rem;
    margin-bottom: 1rem:
}
#emailb{
  width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #F0BA01;
    outline: none;
    border: none;
    color:white;
    font-size: 1rem;
    
}
#emailb:hover{
    cursor: pointer;
    background-color: #2839AD;
    transition: all 0.4s ease-out;
}
		.gallery{
			margin-left: 200px;
		}
		  .nav-link{
            color: white;
        }
    
		.con{
			position: relative;
			width: 100% !important;
		}
    
		.bottom-left{
			position: absolute;
			text-align: left;
			bottom:85px;
			left: 30px;
			color: white;
		}
@media screen and (max-width: 1200px) {
  .bottom-left {
    display: none;
  }
}
				.rudy{
			position: relative;
			width: 100% !important;
					
					
		}
    
		.centered{
		 position: absolute;
  top: 45%;
  left: 50%;
			color: white;
  transform: translate(-50%, -50%);
		}
    
    .button {
  background-color: #F0BA01;
  border: 1px solid #2839AD ;
  color: #2839AD;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {font-size: 15px;}
.button1 {border-radius: 23px;}
		.koko {border-radius: 5px;}
		.korl {font-size: 15px;}
.korl {border-radius: 23px;}
 
		.koko {
			 background-color:white;
  			 padding: 5px 7px;
  			 color: black;
			font-family: 'Roboto', sans-serif;
		}  
		#k1{
			padding-bottom: 51px;
		}

		.kor{
			margin-top: -145px;
		}
@media screen and (max-width: 1200px) {
  .kor {
    display: none;
  }
}
			.left{
			position: absolute;
			text-align: left;
			bottom:-1605px;
			left: 30px;
			color: white;
		}
		
		    .korl {
  background-color: black;
  border: 1px solid white ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.gallery img{
	padding: 5px;
}
